body {
    --black:  #191919;
    --white: #f1f1f1;
    --background: hsl(193, 100%, 96%);
    --marker: hsl(192, 100%, 9%);
    --pen: hsl(208, 11%, 55%);
    --highlighter: hsl(322, 100%, 66%);
}


@media(prefers-color-scheme: dark) {
    body {
        --background: white;

    }


}

@media(prefers-color-scheme: light) {
    body {

        --background: white1;

    }

}

