/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

@import 'developer-styles.css';



/* SETTINGS */
@import 'settings.css';
/* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */
@import 'modules/masthead.css';
@import 'modules/goals.css';
@import 'modules/about.css';
@import 'modules/projects.css';
@import 'modules/experiments.css';
@import 'modules/writing.css';
@import 'modules/footer.css';
@import 'modules/resume.css';
@import 'modules/style-guide.css';



/* SITE SECTIONS */


/*masthead*/

header {
    position: absolute;
    inset: 0;

    /*margin-top: 40px;*/
    padding-top: 20px;
    z-index: 1000;
}

masthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

masthead picture img {
    max-width: 120px;
    height: auto;

}

.masthead-logo {
    align-self: center;
}

.landing-container,
.landing-container .landing-text,
.card-grid-container,
card,
.cta-container,
.card-text {
    display: flex;
    flex-direction: column;
}


/*landing*/

.landing-page {
    background: #edfbfe url("../images/bg-hero-mobile.svg") no-repeat center center / cover;
    position: relative;
    padding-top: 50px;
}


.landing-container {
    /*    display: flex;
    flex-direction: column;*/
    padding: 80px 30px;
    gap: 60px;
    text-align: center;

}


.landing-container .landing-text {

    justify-content: center;
    gap: 30px;


}

.landing-container .landing-text .body-copy {
    font-size: clamp(16px, 1.75vw, 18px);
    font-weight: 500;

}

.btn-pink {
    background-color: var(--highlighter);
    border: none;
    padding: 18px 60px;
    font-size: clamp(14px, 1.5vw, 16px);
}

.landing-container a,
.cta-container a {
    display: flex;
    align-self: center;
    color: var(--white);

}

/*card grid*/

.card-grid {
    margin: 60px 0;

}

.card-grid-container {
    gap: 60px;
}

card,
.cta-container {

    gap: 20px;
    border: 1px solid var(--white);
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 1px rgba(30, 30, 30, 0.1);
    align-items: center;
    text-align: center;
    padding: 40px 30px;

}

.cta-container {
   padding: 50px 30px;
}

.card-text {

    gap: 10px;
}

card h3 {
    margin-top: 20px;
}


/*cta*/

.cta {

    transform: translateY(100px);
    z-index: 1000;
}

.cta .heading {
   font-size: clamp(22px, 2vw, 24px);
}

.cta-container {
    background-color: white;
}



/*footer*/

footer,
.footer-container,
.footer-container section,
.footer-facts-stuff ul,
footer .contact,
footer .company-info,
footer .social-media-stuff {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--marker);
    padding: 200px 0 40px;

    position: relative;
    z-index: -1
}

footer .body-copy {
    color: var(--white);
}


footer picture img {
    max-height: 30px;
    width: auto;
}

.footer-container {
    gap: 60px;
    padding: 40px 0;

}

.footer-container section,
.footer-facts-stuff ul,
footer .contact,
footer .company-info,
footer .social-media-stuff {
    gap: 20px;

}

footer .contact {
    flex-direction: row;
    /*gap: 20px;*/
}

footer .contact img {
    padding-top: 5px;
}

footer .company-info {
    /*gap: 20px;*/
}


footer .social-media-stuff {
    /*gap: 20px;*/
}

footer .social-media-stuff .sm-handles {
    display: flex;
    gap: 20px;
}

footer .social-media-stuff .sm-handles i {
    font-size: 1.75rem;
    color: var(--white);

    border: 1px solid var(--white);
    padding: 0.5em 0.6em;
    border-radius: 50%;

}



@media (min-width: 768px) {

    .landing-page inner-column,
    header inner-column,
    footer inner-column {
        width: min(90%, 1200px);
    }

    .landing-page .landing-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
        text-align: left;
        padding: 60px 0;
    }

    .landing-page .landing-container .landing-img img {
        /*      height: 280px;
      max-height: 320px;*/
        max-height: clamp(280px, 35vw, 380px);
        width: auto;
    }

    .landing-page .landing-container .landing-text {
        gap: 15px;
        width: 40%;
    }

    .landing-page .landing-container .landing-img {
        width: 40%;
    }


    .landing-page .landing-container .landing-img picture {
        display: flex;
        justify-content: flex-end;
    }

    .btn-pink {
        padding: 12px 36px;
        /*font-size: 12px;*/

    }

    .landing-container a {
        align-self: start;
    }

    card {
        flex-direction: row;
        text-align: left;
        flex-basis: 100%;
    }

    .card-grid-container card:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .card-text {
        flex-grow: 1;
        align-items: start;
    }

    .card-text .heading {
        font-size: 20px;
        margin-top: 0;
    }

    .card-text .body-copy {
        width: clamp(30ch, 40vw, 50ch);
        color: var(--pen);
    }

    card picture {
        flex-grow: 1;
        margin: auto;
    }

    card picture img {
        max-width: 260px;
        margin: auto;
    }


    .cta-container {
        width: 80%;
        margin: auto;
    }


    .footer-container {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px 20px;
        /*      grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));*/
    }

    .footer-container .footer-facts-stuff {
        gap: 20px;

    }

    .footer-facts-stuff ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: end;
    }

    footer .social-media-stuff {
        grid-column: 1/-1;
        justify-content: center;
        align-items: center;
    }



}


@media (min-width: 1000px) {

    .footer-container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;


    }

    .footer-container .footer-facts-stuff {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .footer-facts-stuff ul {
        justify-content: start;

        align-items: start;
    }

    footer .social-media-stuff {
        grid-column: 3;
        justify-content: space-between;
        align-items: end;
    }

    footer .footer-container .social-media-stuff .sm-handles i {
        font-size: 1.25rem;
    }

    .footer-container .footer-facts-stuff {
        gap: 60px;

    }

    footer span {
        display: block;
        margin-top: 10px
    }

    footer .social-media-stuff .copy-right {
      text-align: end;

    }



}