@font-face {
    font-family: "MonoLisa Black";
    src: local("MonoLisa Black"), local("MonoLisa-Black"),
        local("MonoLisa-Black"), url(../fonts/MonoLisa-Black.woff2) format("woff2");

}

@font-face {
    font-family: "MonoLisa Bold";
    src: local("MonoLisa Bold"), local("MonoLisa-Bold"),
        local("MonoLisa-Bold"), url(../fonts/MonoLisa-Bold.woff2) format("woff2");

}

@font-face {
    font-family: "MonoLisa Medium";
    src: local("MonoLisa Medium"), local("MonoLisa-Medium"),
        local("MonoLisa-Medium"), url(../fonts/MonoLisa-Medium.woff2) format("woff2");

}


